.main{
    background-color: black;
    overflow: auto;
    height: 100vh;
}

.title-message{
    text-align: center;
    padding-top: 3vh;
    color: white;
}

.date{
    padding-top: 1vw;
}

.date-navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.date-navigation button{
    margin: .6vw 1vw;
}

.date-muscles-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 15px;
    background-color: rgb(237, 237, 237);
    min-width: 80vw;
    max-width: 80vw;

}

.muscle-groups{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.muscle-group{
    margin: 0 1vw 1vw 1vw;
    padding: 0 2vw;
    background-color: gray;
    border: 1.5px solid black;
    border-radius: 15px;
}

.muscle-group p{
    margin: 0;
}

.workout-log-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 3vw;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 15px;
    background-color: rgb(237, 237, 237);
    min-width: 80vw;
    max-width: 80vw;
}

.muscle-emphasis{
    font-size: 1vw;
    transform: skewX(-15deg);
    color: rgb(83, 83, 83);
}

.exercise{
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 171, 171);
    border: 1.5px solid white;
    border-radius: 15px;
    width: 75vw;
    margin: 2vw 0;
}

.exercise h6{
    margin-top: 2vw;
}

.exercise-info-list{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 3vw;
}

.exercise-info{
    border: 1.5px solid rgb(126, 126, 126);
    border-radius: 15px;
    background-color: rgb(126, 126, 126);
    padding: 0 1vw;
    margin: 0 1vw;
}

.exercise-info p{
    margin: 0;
}

.log-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1vw 0;
    border: 2px solid rgb(124, 124, 124);
    border-radius: 15px;
    background-color: rgb(237, 237, 237);
    max-width: 70vw;
    min-width: 70vw;
    min-height: 20vh;
}

/* smaller screen size*/
@media (max-width: 767px){
    .muscle-emphasis{
        font-size: 2.5vw;
    }
}

/* medium to large screen size*/
@media (min-width: 767.1px){
    .muscle-emphasis{
        font-size: 1vw;
    }
}