<app-toolbar></app-toolbar>
<div class="main container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="title-message container">
                <h1>Workout Log</h1>
            </div>
        
            <div class="date-muscles-header container">
                <p class="date fw-bold">{{getCurrentDayOfWeek()}} ({{currentDate | date:'MM/dd/yyyy'}})</p>
                <p>Major Muscles Targeted</p>
                <div class="muscle-groups">
                    <div class="muscle-group">
                        <p>Chest</p>
                    </div>
        
                    <div class="muscle-group">
                        <p>Triceps</p>
                    </div>
                </div>
            </div>

            <div class="workout-log-content container">
                <p class="date fw-bold">{{getCurrentDayOfWeek()}} ({{currentDate | date:'MM/dd/yyyy'}})</p>
                
                <div class="exercise">
                    <h6>Incline Dumbell Press</h6>
                    <p class="muscle-emphasis"><i>Upper Chest</i></p>
                    
                    <div class="exercise-info-list">
                        <div class="exercise-info">
                            <p class="fw-bold">Sets</p>
                            <p>4</p>
                        </div>
    
                        <div class="exercise-info">
                            <p class="fw-bold">Reps</p>
                            <p>6-8</p>
                        </div>
    
                        <div class="exercise-info">
                            <p class="fw-bold">Weight</p>
                            <p>80's</p>
                        </div>
    
                        <div class="exercise-info">
                            <p class="fw-bold">RPE</p>
                            <p>10</p>
                        </div>
                    </div>
                    
                </div>
        
                <div class="exercise">
                    <h6>Shoulder Press</h6>
                    <p class="muscle-emphasis"><i>Front Delts</i></p>
                    
                    <div class="exercise-info-list">
                        <div class="exercise-info">
                            <p class="fw-bold">Sets</p>
                            <p>3</p>
                        </div>
    
                        <div class="exercise-info">
                            <p class="fw-bold">Reps</p>
                            <p>6-8</p>
                        </div>
    
                        <div class="exercise-info">
                            <p class="fw-bold">Weight</p>
                            <p>50's</p>
                        </div>
    
                        <div class="exercise-info">
                            <p class="fw-bold">RPE</p>
                            <p>-</p>
                        </div>
                    </div>
                    
                </div>

                <div class="exercise">
                    <h6>E-Z Bar Skull Crushers</h6>
                    <p class="muscle-emphasis"><i>Triceps</i></p>
                    
                    <div class="exercise-info-list">
                        <div class="exercise-info">
                            <p class="fw-bold">Sets</p>
                            <p>3</p>
                        </div>
    
                        <div class="exercise-info">
                            <p class="fw-bold">Reps</p>
                            <p>6-8</p>
                        </div>
    
                        <div class="exercise-info">
                            <p class="fw-bold">Weight</p>
                            <p>80</p>
                        </div>
    
                        <div class="exercise-info">
                            <p class="fw-bold">RPE</p>
                            <p>10</p>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>    

</div>
<router-outlet></router-outlet>