body{
  background-color: #18191A;
  min-height: 100vh;
}

.start-container{
  padding-top: 5%;
}
  
.individual-workout-container {
  background-color: #E4E6EB;
  border-radius: 4.5%;
  margin-bottom: 2.5%;
  width: 45%;
}

.individual-workout-container:hover {
  box-shadow: 2px 2px 5px #E4E6EB;;
}

.btn-choice{
  margin: 1%;
}

@media (max-width: 576px) {
  .get-rid{
    display: none;
  }

  .btn-choice{
    margin-top: 2%;
    max-width: 35%;
  }

  .individual-workout-container {
    width: 65%;
  }
}

@media (max-width: 500px) {
  .get-rid{
    display: none;
  }
}