<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitForge • Workout</title>
</head>

<body>
  <app-toolbar></app-toolbar>

  <div class = "start-container">
    <!-- container to either show workout completed message -->
    <div class="d-flex justify-content-center">
      <!-- displaying already did workout for the day -->
      <div *ngIf="!displayDailyWorkout" class="alert alert-danger text-center">
        <strong>{{ message }}</strong>
      </div>
    </div>
    
    <!-- this div will actually display the workout info -->
    <div *ngIf="displayDailyWorkout">
      <div class="row justify-content-center text-center">
        
        <!-- this div contains all the info for the workouts-->
        <div class="individual-workout-container">
          
          <!-- name label and workout name  -->
          <label for="workoutName"><strong>Name:</strong></label>
          <input class="form-control text-center" type="text" id="workoutName"
          [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutName" readonly>
          
          <!-- labels for sets, reps and rest time and actually workout sets, reps, rest info-->
          <div class="row">
            <div class="col-sm-4">
              <label for="workoutSets"><strong>Sets:</strong></label>
              <input class="form-control text-center" type="text" id="workoutSets"
              [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutSets" readonly>
            </div>
            <div class="col-sm-4">
              <label for="workoutReps"><strong>Reps:</strong></label>
              <input class="form-control text-center" type="text" id="workoutReps"
              [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutReps" readonly>
            </div>
            <div class="col-sm-4">
              <label for="workoutRest"><strong>Rest:</strong></label>
              <input class="form-control text-center" type="text" id="workoutRest"
              [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutRest" readonly>
            </div>
          </div>
          
          <!-- target of workout -->
          <div class="get-rid">
            <label for="workoutTarget"><strong>Target:</strong></label>
            <input class="form-control text-center" type="text" id="workoutTarget"
            [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutTarget" readonly>
          </div>
          
          <!-- link for the workout -->
          <label for="workoutLink"><strong>Link:</strong></label>
          <a class="form-control text-center" [href]="dailyWorkoutData[currentWorkoutIndex].workoutLink" id="workoutLink"
          target="_blank">Video Link</a>

        <button class="btn btn-secondary btn-choice" (click)="showPreviousWorkout()">Previous</button>
        <button class="btn btn-secondary btn-choice" (click)="finishWorkout()">Finish</button>
        <button class="btn btn-secondary btn-choice" (click)="showNextWorkout()">Next</button>

        <div class="row text-center">
          <p> {{ currentWorkoutIndex + 1}} / {{totalWorkouts}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>