<app-toolbar></app-toolbar>


<!-- Display message with Bootstrap styling -->
<div *ngIf="displayMessage" class="d-flex justify-content-center align-items-center box">
    <div class="alert alert-danger text-center">
      <strong>{{ message }}</strong>
    </div>
</div>


<div *ngIf="displayDailyWorkoutButton" class="d-flex justify-content-center align-items-center box">
  <div>
    <button class = "btn btn-success" (click)="startDailyWorkout()">Start Workout</button>
    <!-- <button class = "btn btn-success" (click)="finishWorkout()">FINISH BISH</button> -->
  </div>
</div>


<div class="container mt-3" *ngIf="displayDailyWorkout">
  <div class="row justify-content-center">
    <!-- this section div becomes blurred out after the edit button is clicked and/or swap button-->
    <div class = "individual-workout-container row justify-content-center">
      <!-- this section is for the name element of the returned array -->
      <div class="row mt-3 text-center">
        <div class="col-sm-12 workout-info-container">
          <label for="workoutName"><strong>Name:</strong></label>
          <br>
          <input class = "form-control text-center" type="text" id="workoutName" [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutName" readonly>
        </div>
      </div>

      <!-- div contains the sets, reps and rest -->
      <div class="row mt-3 text-center">
        <div class="col-sm-4 workout-info-container">
          <label for="workoutSets"><strong>Sets:</strong></label>
          <br>
          <input class = "form-control text-center" type="text" id="workoutSets" [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutSets" readonly>
        </div>
        <div class="col-sm-4 workout-info-container">
        <label for="workoutReps"><strong>Reps:</strong></label>
          <br>
          <input class = "form-control text-center" type="text" id="workoutReps" [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutReps" readonly>
        </div>
        <div class="col-sm-4 workout-info-container">
          <label for="workoutRest"><strong>Rest:</strong></label>
          <br>
          <input class = "form-control text-center" type="text" id="workoutRest" [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutRest" readonly>
        </div>
      </div>

      <!-- div contains the weight and target of the workout -->
      <div class="row mt-3 text-center">
        <div class="col-sm-4 workout-info-container">
          <label for="workoutTarget"><strong>Weight:</strong></label>
          <br>
          <input class = "form-control text-center" readonly>
        </div>
        <div class="col-sm-8 workout-info-container">
          <label for="workoutTarget"><strong>Target:</strong></label>
          <br>
          <input class = "form-control text-center" type="text" id="workoutTarget" [(ngModel)]="dailyWorkoutData[currentWorkoutIndex].workoutTarget" readonly>
        </div>
      </div>
            
        <!-- contains the link of the workout -->
      <div class="row mt-3 text-center">
        <div class="col-sm-12 workout-info-container">
          <label for="workoutLink"><strong>Link:</strong></label>
          <br>
          <a class = "form-control text-center" [href]="dailyWorkoutData[currentWorkoutIndex].workoutLink" id="workoutLink" target="_blank">Video Link</a>
        </div>

      </div>
      <button class="btn btn-secondary btn-edit" (click)="showPreviousWorkout()">Previous</button>
      <button class="btn btn-secondary btn-edit" (click)="finishWorkout()">Finish</button>
      <button class="btn btn-secondary btn-edit" (click)="showNextWorkout()">Next</button>

      <div class="row mt-3 text-center">
        <div class="col-sm-12 workout-info-container">
          <p> {{ currentWorkoutIndex + 1}} / {{totalWorkouts}}</p>
        </div>

      </div>
    </div>
  </div>
</div>