.userQuestionnaire{
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.userQuestionnaireAccordian{
    display: block;
    width: 60vw;
}

.userQuestionnaireAccordianItem{
    background-color: rgb(255, 255, 255);
    font-size: larger;
    border: 0.3vw solid gray;
    border-radius: 1.5vw;
    min-height: 3vw;
}

.stackedSelect{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headerMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5vw 0.5vw 1vw 0.5vw;
}

.align-left{
    display: flex;
    flex-direction: column;
    margin: 0.3vw 0;
    align-items: flex-start;
}

.align-middle{
    display: flex;
    flex-direction: column;
    margin: 0.3vw 0;
    align-items:self-start
}

h4{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
    color: white;
}

.height-input-box{
    width: 20vw;

}

.weight-input-box{
    width: 10vw;
}

mat-radio-group{
    font-size: 1vw;
}

max-expansive-panel{
    border: 0.3vw solid gray;
    border-radius: 1.5vw;
    margin-bottom: 3vw;
}

mat-radio-button mat-radio-label-content{
    text-align: left;
    padding-left: 0;
}

mat-radio-button{
    border: 0;
    --radio-button-size: 50vw;
}

mat-form-field{
    margin: 2.5vw 0;
}

.main{
    /* background: linear-gradient(to bottom,#fff 0%,#000000 100%); */
    background-color: black;
}

h5{
    padding: 1vw 0 1vw 0;
}