<app-toolbar></app-toolbar>
<!-- main content division -->
<div class="main container-fluid">

    <!-- header message above the questionnaire-->
    <div class="headerMessage container">
        <h4>Everything that you provide us with here will allow us to correctly create
            currated, personal, and fun workouts for you to reach your goals. Please input
            data that is the most accurate to your current knowledge. <br><br>-FitForge Team
        </h4>
    </div>

    <!-- user questionnaire division-->
    <div class="userQuestionnaire">
        <mat-accordion class="userQuestionnaireAccordian" multi>
            <!-- "About You" Panel -->
            <mat-expansion-panel class="userQuestionnaireAccordianItem">
                <mat-expansion-panel-header>
                    <mat-panel-title class="d-flex align-items-center justify-content-center">
                        About You {{ current_user.username }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container">
                    <h5 class="fw-bold">Height: </h5>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <div class=" height-input-box input-group mb-3">
                                
                                <!-- height in feet input box-->
                                <input class="form-control col" type="number" min="4" max="7" [(ngModel)]="feetInputValue" (change)="validateHeightFeetInput()" name="feet">
                                <span class="input-group-text">feet</span>
                                
                                <!-- height in inches input box-->
                                <input class="form-control col" type="number" min="0" max="11" [(ngModel)]="inchesInputValue" (ngModelChange)="validateHeightInchesInput()" name="inches">
                                <span class="input-group-text">inches</span>
                            </div>  
                        </div>
                        <div class="col-3"></div>
                    </div>

                    <h5 class="fw-bold">Weight: </h5>
                    <div class="row">

                        <div class="col-3"></div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <div class="weight-input-box input-group mb-3">
                    
                                <input class="form-control col" type="number" min="50" max="700" [(ngModel)]="poundsInputValue" (change)="validateWeightInput()" name="weight">
                                <span class="input-group-text">lbs</span>
                            </div> 
                        </div>
                        <div class="col-3"></div> 
                    </div>
                    
                    <h5 class="fw-bold">Gender:</h5>
                    <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <div class="form-check col">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check col">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check col">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Other
                                    </label>
                                </div>
                            </div>
                            <div class="col-3"></div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <h5 class="fw-bold">Daily Activity: </h5>
                                <mat-radio-group class="align-left" [(ngModel)]="selectedActivityLevel">
                                    <mat-radio-button *ngFor="let activityLevel of activityLevels" [value]="activityLevel">
                                        {{activityLevel}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                </div>
                <!-- <input placeholder="Male or Female"> -->

            </mat-expansion-panel>

            <!-- "Your Experience Level" Panel -->
            <mat-expansion-panel class="userQuestionnaireAccordianItem">
                <mat-expansion-panel-header>
                    <mat-panel-title class="d-flex align-items-center justify-content-center">
                        Your Experience Level
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <mat-radio-group class="align-middle" [(ngModel)]="selectedExperience">
                                <mat-radio-button *ngFor="let experience of experiences" [value]="experience">
                                    {{experience}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </mat-expansion-panel>

            <!-- "Available Equipment" Panel -->
            <mat-expansion-panel class="userQuestionnaireAccordianItem">
                <mat-expansion-panel-header>
                    <mat-panel-title class="d-flex align-items-center justify-content-center">
                        Available Equipment
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <div class="row">
                        <div class="col-6 col-md-3"></div>
                        <div class="col-md-7">
                            <mat-radio-group class="align-left" [(ngModel)]="selectedGymEquipment">
                                <mat-radio-button *ngFor="let equipmentLevel of equipmentLevels" [value]="equipmentLevel">
                                    {{equipmentLevel}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-6 col-md-2"></div>
                    </div>
                </div>
            </mat-expansion-panel>

            <!-- "Personal Goals" Panel -->
            <mat-expansion-panel class="userQuestionnaireAccordianItem">
                <mat-expansion-panel-header>
                    <mat-panel-title class="d-flex align-items-center justify-content-center">
                        Personal Goals
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                                <h5 class="fw-bold">Overall Goal:</h5>
                                <mat-radio-group class="align-left" [(ngModel)]="selectedGoal">
                                    <mat-radio-button *ngFor="let userGoal of userGoals" [value]="userGoal">
                                        {{userGoal}}
                                    </mat-radio-button>
                                </mat-radio-group>
                        </div>
                        <div class="col-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                                <h5 class="fw-bold">Desired Level of Intensity:</h5>
                                <mat-radio-group class="align-left" [(ngModel)]="selectedIntensity">
                                    <mat-radio-button *ngFor="let userIntensity of intensities" [value]="userIntensity">
                                        {{userIntensity}}
                                    </mat-radio-button>
                                </mat-radio-group>
                        </div>
                        <div class="col-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                                <h5 class="fw-bold">Desired Workout Frequency:</h5>
                                <mat-radio-group class="align-left" [(ngModel)]="selectedFrequency">
                                    <mat-radio-button *ngFor="let userFrequency of userFrequencies" [value]="userFrequency">
                                        {{userFrequency}}
                                    </mat-radio-button>
                                </mat-radio-group>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </mat-expansion-panel>

            <!-- "Personal Records (PR)" Panel -->
            <mat-expansion-panel class="userQuestionnaireAccordianItem">
                <mat-expansion-panel-header>
                    <mat-panel-title class="d-flex align-items-center justify-content-center">
                        Personal Records (PR)
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-checkbox [(ngModel)]="hasData" (checked)="toggleDataEntry()">
                    Do you currently have PR data?
                </mat-checkbox>

                <div *ngIf="hasData">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                            <h6>Flat Bench Press (Barbell)</h6>
                            <div class="weight-input-box input-group mb-3">
                                <input type="number" min="0" max="1000" class="form-control" >
                                <span class="input-group-text">lbs</span>
                            </div>

                            <h6>Incline Bench Press (Barbell)</h6>
                            <div class="weight-input-box input-group mb-3">
                                <input type="number" min="0" max="1000" class="form-control">
                                <span class="input-group-text">lbs</span>
                            </div>

                            <h6>Overhead Shoulder Press (Barbell)</h6>
                            <div class="weight-input-box input-group mb-3">
                                <input type="number" min="0" max="1000" class="form-control">
                                <span class="input-group-text">lbs</span>
                            </div>

                            <h6>Bicep Curl (E-Z Bar)</h6>
                            <div class="weight-input-box input-group mb-3">
                                <input type="number" min="0" max="1000" class="form-control">
                                <span class="input-group-text">lbs</span>
                            </div>

                            <h6>Back Squat (Barbell)</h6>
                            <div class="weight-input-box input-group mb-3">
                                <input type="number" min="0" max="1000" class="form-control">
                                <span class="input-group-text">lbs</span>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-success" (click)="submit()" type="button">SUBMIT YOUR ANSWERS AAHHAHHHAHHA</button>
    </div>
</div>

<div>
    <footer class="bg-dark text-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center">Fake Terms of Service</p>
                </div>
                <div class="col-md-6">
                    <a href="#" class="text-center text-light">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<router-outlet></router-outlet>