.main{
    background-color: black;
    height: 100%;
    min-height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    background-color: gray;
}

.fit-forge-logo{
    max-width: 50vw;
}

.header-message{
    max-width: 50vw;
    text-align: center;
}

.workout-rating-container{
    display: flex;
    /* Maybe delete line below */
    /* justify-content: space-between; */
    background-color: lightgrey;
    margin: 1vh 0;
    min-width: 70vw;
    max-width: 70vw;
}

.workout-rating-image{
    max-width: 10vw;
    margin: 1vw;
    border: 2px solid black;
    flex: 0; /*  makes it so that it doesn't grow or shrink */
}

.stacked-name-and-stars{
    display: flex;
    flex: 1; /* has the item take up the rest of the space */
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}

.rating-button{
    color: white;
}