<div class="main container-fluid">
    <div class="content container">
        <a routerLink="/home">
            <img class="fit-forge-logo" src="assets/fitforge-logo.png"/>
        </a>
        <div class="header-message">
            <p>HOORAY! You finished your daily workout! Please take a moment to generally rate each exercise so that we may provide better recommendations for your next workout.</p>
        </div>
        <p class="fw-bold">{{getCurrentDayOfWeek()}} {{currentDate | date:'MM-dd-yyyy'}}</p>

        <!-- Will have to change later to populate the page with the data from the user workout log -->
        <div *ngIf="isLoading" class="row">
            <div class="col-12">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </div>

            <div *ngFor="let workout of dailyWorkoutListItem" class="row">
                <div class="col-12">
                    <div class="workout-rating-container container">
                        <div class="stacked-name-and-stars">
                            <h3 class="fw-bold"> {{ workout.workoutName }} </h3>
                            <igc-rating min="0" max="5" (igcChange)="ratingChanged($event, workout.workoutName);"></igc-rating>
                        </div>
                    </div>
                </div>
            </div>

        <div class="rating-button">
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            <button mat-button color="accent" (click)="submitValues()">Submit Ratings!</button>
        </div>

    </div>
</div>