body{
    background-color: #18191A;
    min-height: 100vh;
    min-width: 100vw;
}

.img-logo {
    background-color: #18191A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.container {
    max-width: 35%;
    color: white;;
}

.data-container{
    margin-bottom: 2.5%;
}

.invalid-text {
    font-size: 12px;
    padding-left: 1%;
}

.error-border {
    border: 2px solid red;
}

.invalid-border {
    border: 3px solid #fdbe03;
}

.valid-border {
    border: 3px solid #039487;
}

.requirement {
    color: red;
    font-size: 12px;
}

.requirement.met {
    color: green;
}

.terms {
    margin-left: 5px;
}

@media (max-width: 875px) {
    .container {
        max-width: 45%;
        color: white;;
    }
}

@media (max-width: 550px) {
    .container {
        max-width: 55%;
        color: white;;
    }

    .img-logo{
        width: 100px;
    }
}

@media (max-width: 445px) {
    .container {
        max-width: 65%;
        color: white;
    }

    .img-logo{
        width: 50px;
    }

}