:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    display: flex;
    margin: 82px auto auto;
    padding: 0 16px;
    max-width: 420px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.userInput{
    padding-top: 8px;
}

h2,h3,h4,h5{
    margin: auto;
}

h1{
    padding: 10px;
    margin: auto;
}

h6{
    margin: auto;
    padding-bottom: -15px;
}