<div class="img-group">
    <img src="assets/fitforge-logo.png">
</div>


<form submit="login()" [formGroup]="userLoginForm">
    <div class="form-control">
            <label>Email</label>
            <input type="email" placeholder="Ex. example123@testdomain.com" formControlName="userEmail"/>
    </div>
    <div class="form-control">
        <label>Password</label>
        <input type="password" formControlName="userPassword"/>
    </div>
    
    <button onclick="forgotPassword()" class="forgot-password-button">Forgot Password?</button>
    <button type="submit" class="login-button">Login</button>

</form>

