
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
    width: 40%;
}

.container {
    max-width: 300px;
}

.valid-border{
    border: 1px solid  #039487;
}

.error-border {
    border: 1px solid red;
}

.invalid-border{
    border: 1px solid #ffc107;
}

.invalid-text{
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: -8px;
    padding-left: 3px;
}

input{
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.268)
}

button{
    display: block;
}

.button-login-container{
    max-width: 300px;
    align-items: center;
}
/* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.error-message {
    color: rgb(176, 32, 32);
    padding: 3px 0px 0px 3px;
}

.error-border {
    border: 1px solid red;
}

.img-group {
    font-size: 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px 16px 24px;
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #848484;
}

input {
    display: block;
    padding: 8px;
    height: 30px;
    border-radius: 4px;
    width: 95%;
    border: 2px solid #5c5c5c;
    background-color: white;
}

label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.register-link {
    font-size: .9em;
    text-align: center;
    margin: 25px 0 10px;
    display: block;
    font-weight: 500;
}

.form-control {
    margin-bottom: 16px;
}

.forgot-password-button {
    background-color: #D9D9D9;
    color: black;
    margin: auto 20px;
    max-width: 140px;
    padding: 8px 18px;
    border-radius: 4px;
    border-color: #D9D9D9;
    font-size: .65rem;
}

.login-button {
    background-color: #FFD25E;
    color: black;
    margin-right: 20px;
    margin-left: 80px;
    max-width: 140px;
    padding: 8px 50px;
    border-radius: 4px;
    border-color: #D9D9D9;
    font-size: .65rem;
} */

.left-side {
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
    background-color: #454545;
    justify-content: center;
}

.right-side {
    background: url('~src/assets/gigachad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
}