.top-bar{
    display: flex;
    align-items: center;
    height: 8.4vw;
    background: rgb(38, 38, 38);
    justify-content: space-between;

}

.top-bar-right{
    padding: 0 5vw;

}

.top-bar-left{
    padding: 0 5vw;
}

.top-bar-logo{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 1.34vw;
}

.top-bar-logo img{
    margin: 0 0;
    height: 5vw;
}

a{
    padding: 0.5vw 0.5vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1vw;
}

.container-logo{
    margin-bottom: 35px;
  }