<header>
    <div class="top-bar">
        <div class="top-bar-left col-5 d-flex justify-content-between">
            <a routerLink="/workoutlog">Workout Log</a>                   
            <a routerLink="/createWorkout">Generate Workout</a>                        
            <a routerLink="/startWorkout">Start Workout</a>
            <!--Figure out how to create if/else statement to determine where to route to-->
            <!--Also create page for alternate route-->
        </div>

        <div class="top-bar-logo col-2">
            <a routerLink="/home">
                <img src="assets/fitforge-logo.png">
            </a>
        </div>

        <div class="top-bar-right col-5 d-flex justify-content-between">
            <a>Profile</a>
            <a routerLink="/userquestionnaire">Questionnaire</a>
            <a routerLink="/login" (click)="logout()">Logout</a>                        
        </div>
    </div>
</header>