.about-imgs{
    width:300px;
}

.inspirational-text{
    font-family: Helvetica Neue;
    font-size: 70px;
    font-weight: 200;
}

footer{
    margin-bottom: 20px;
}
body{
    margin-top: 100px;
}


/* .card-container{
    border: 5px solid black;
} */



/* .img-container{
    border: 5px solid black;
}

.info-container{
    border: 5px solid red;
} */