<app-toolbar></app-toolbar>

<body>
    <div class = "card-container container text-center">
        <div class="row align-items-center">
            <div class = "info-container info-text col inspirational-text">Start building your future here! It does not matter whether you have...</div>
            <div class="img-container col-3 text-center" ><img class="rounded about-imgs float-right"src="assets/strong-back-pullups.png" alt="Man doing pullups"></div>
        </div>
    </div>
    <div class = "card-container container text-center">
        <div class="row align-items-center">
            <div class="img-container col-3 text-center" ><img class="rounded about-imgs float-right"src="assets/fancy-gym.jpg" alt="Fancy Apartment Gym"></div>
            <div class = "info-container info-text col inspirational-text">A fancy gym</div>
        </div>
    </div>
    <div class = "card-container container text-center">
        <div class="row align-items-center">
            <div class = "info-container info-text col inspirational-text">Or no gym at all</div>
            <div class="img-container col-3 text-center" ><img class="rounded about-imgs float-right"src="assets/little-equipment-shoes.jpg" alt="running shoes"></div>
        </div>
    </div>
    <div class = "card-container container text-center">
        <div class="row align-items-center">
            <div class="img-container col-3 text-center" ><img class="rounded about-imgs float-right"src="assets/deadlift.jpg" alt="person deadlifting"></div>
            <div class = "info-container info-text col inspirational-text">Build your future, no excuses</div>
        </div>
    </div>
</body>

<footer></footer>