body{
  background-color: #18191A;
}

button{
  max-width: 25%;
  margin: 1%;
}

.individual-workout-container, .choosing-workouts {
  background-color: #E4E6EB;
  border-radius: 4.5%;
  margin-bottom: 2.5%;
  width: 52.5%;
}

.individual-workout-container:hover {
  box-shadow: 2px 2px 5px #E4E6EB;
}

.edit-workout, .swapping{
  background: #B0B3B8;
  display: none;
  position: fixed;
  width: 25%;
  padding-bottom: 1%;
}

.blur {
  filter: blur(15px);
}

.swapping.active, .edit-workout.active{
  display: block;
  border-radius: 5%;
}

.for-text{
  margin-top: 2%;
}

.rg-button{
  margin-top: -2%;
}

/* Media queries */

@media (max-width: 1200px) {
  .individual-workout-container{
    width: 65%
  }

  button{
    max-width: 28%;
  }
}

@media (max-width: 1000px) {
  .edit-workout, .swapping{
    width: 50%;
  }

  button{
    max-width: 32%;
  }
}

@media (max-width: 800px) {
  .choosing-workouts{
    width: 75%;
  }
  
  .get-rid{
    display: none;
  }
}

@media (max-width: 600px) {

  .individual-workout-container{
    width: 85%
  }

  .choosing-workouts, .edit-workout, .swapping{
    width: 85%;
  }
}