.main-muscle-group-container {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    width: 75%;
  }
  
  .individual-workout-container {
    background-color: #f7f7f7; 
    border: 1px solid #ccc; 
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 55%;
  }
  
  .individual-workout-container:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .centered-div {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px; 
    z-index: 1;
    background: #f0eeee;
    padding: 20px;
    height: 200px;
  }
  
  .centered-div.active {
    display: block;
  }
  
  .blur {
    filter: blur(10px);
  }
  
  .btn-edit{
    margin-top: 10px;
    max-width: 15%;
    justify-content: right;
    align-items: right;
  }
  
  .btn-inside-edit{
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .swapping-div{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 600px; 
    z-index: 1;
    background: #f0eeee;
    padding: 20px;
    max-height: 600px;
  }
  
  .swapping-div.active {
    display: block;
  }

  /* .container-all{
    background-color: grey;
  } */