<app-toolbar></app-toolbar>

<div class="main container-fluid">
<header>
    <div class="top-bar">
        <div class="top-bar-left col-sm-5 d-flex justify-content-between">
                <a routerLink="/userquestionnaire" routerLinkActive="active">Questionnaire</a>
                <a routerLink="/createWorkout" routerLinkActive="active">Generate Workout</a>                        
                <a href="">Workout Log</a>                   
        </div>

        <div class="top-bar-logo col-sm-2">
            <a href="">
                <img src="assets/fitforge-logo.png">
            </a>
        </div>

        <div class="top-bar-right col-sm-5 d-flex justify-content-between">
            <a href="">Profile</a>
            <a href="">Logout/Sign in</a>                        
        </div>
    </div>
</header>

<div class="main">
    <section class="gym-photo">
        <div class="container">
            <div class="content">
                <h1 class="fw-bold">Forge Your Fitness Future: Unleash Your Potential with Fit Forge!</h1>
                <p class="fw=semibold">Empowering your unique fitness journey, Fit Forge harnesses data to sculpt tailored workouts, unveiling your untapped potential. With Fit Forge, we transform your data into personalized fitness blueprints, helping you unlock your full strength and vitality.</p>
            </div>
        </div>
    </section>

    <section class="example-photos">
        <div class="container">
            <div class="box col-md-6">
                <img class="img-fluid" src="assets/questionnaire-screenshot.png">
                
                <div class="content border border-dark">
                    <h2>All About You</h2>
                    <p>We collect data about you and use it to carefully craft workouts that are just right for you and your goals!</p>
                </div>
            </div>
            <div class="box col-md-6">
                <img class="img-fluid" src="assets\deadlift.jpg">

                <div class="content">
                    <h2>Reach your goals!</h2>
                    <p>We provide a plethora of different workouts that you can choose from! So feel free to include your favorite workouts in our generated plans!</p>
                </div>
            </div>

        </div>

        <div class="embedded-video container-fluid">        
            <h3 class="embedded-video-header text-center fw-bold">Get Inspired with This Motivational Workout Video</h3>
            <div class="row">
                <div class="col-md-12 vertical-center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E9MOhxS46d8" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div>
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Fake Terms of Service</p>
                </div>
                <div class="col-md-6">
                    <a href="#" class="text-light">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</div>