.main{
    /* background: linear-gradient(to bottom,#fff 0%,#000000 100%); */
    background-color: #000000;
}

p{
    font-size: 1vw;
}

h1, h2{
    font-size: 3vw;
}

*{
    box-sizing: border-box;
}

nav{
    display: block;
}

div{
    /* display: block; */
}

a{
    padding: 0.5vw 0.5vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1vw;
}


section.gym-photo{
    padding: 0 4vw;
    margin-bottom: 4.5vw;
}

section.gym-photo .container{
    background-image: url(src/assets/blackandwhitephotooldschoolgym.jpeg);
    background-size: 100% 100%;
    height: 54vw;
    position: relative;
}

section.gym-photo .content{
    position: absolute;
    right: 2vw;
    width: 40vw;
    top: 12.5vw;
}

section.gym-photo .content h1{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
}

section.gym-photo .content p{
    color: rgb(236, 236, 236);
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5)
}

section.example-photos{
    padding: 0 4vw;
    /* margin-bottom: 4.5vw; */
}

section.example-photos .box{
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

section.example-photos .box img{
    width: 33vw;
   
}

section.example-photos .container .box .content{
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2.6vw 2.6vw;
    justify-content: center;
    flex: 1;
}

section.example-photos .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* footer{
    background-color: #7c5959;
} */

.embedded-video{
    margin-top: 4vw;
    padding-bottom: 2.6vw;
}

.vertical-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.embed-responsive-16by9 iframe{
    width: 50vw;
    height: 30vw;
}

.embedded-video-header{
    color: #ffffff;
    padding-bottom: 2vw;
}