<header>
    <div class="top-bar">
        <div class="top-bar-left col-sm-5 d-flex justify-content-between">
                <a href="">Questionnaire</a>
                <a href="">Generate Workout</a>                        
                <a href="">Workout Log</a>                   
        </div>

        <div class="top-bar-logo col-sm-2">
            <a href="">
                <img src="assets/fitforge-logo.png">
            </a>
        </div>

        <div class="top-bar-right col-sm-5 d-flex justify-content-between">
            <a href="">Profile</a>
            <a href="">Logout/Sign in</a>                        
        </div>
    </div>
</header>

<div class="main">
    <section class="gym-photo">
        <div class="container">
            <div class="content">
                <h1>Forge Your Fitness Future: Unleash Your Potential with Fit Forge!</h1>
                <p>Empowering your unique fitness journey, Fit Forge harnesses data to sculpt tailored workouts, unveiling your untapped potential. With Fit Forge, we transform your data into personalized fitness blueprints, helping you unlock your full strength and vitality.</p>
            </div>
        </div>
    </section>

    <section class="example-photos">
        <div class="container">
            <div class="box left">
                <picture>
                    <img src="assets/questionnaire-screenshot.png">
                </picture>
                <div class="content">
                    <h2>All About You</h2>

                </div>
            </div>
            <div class="box right">
                <picture>
                    <img>
                </picture>

            </div>

        </div>
    </section>

</div>
