
<!-- dropdown menu for the length of the workout -->
<div class="container mt-5" *ngIf = "!generateButtonClicked">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <label for=" workoutLength" class="fw-bold">Select your preferred workout length</label>
      <select class="form-control text-center" id="workoutLength" [(ngModel)]="selectedWorkoutLength">
        <option *ngFor="let option of workoutLengthOptions">{{ option }}</option>
      </select>
    </div>
  </div>
</div>

<!-- dropdown menus for the workouts -->
<div class="container mt-5"*ngIf = "!generateButtonClicked">
  <div class="row justify-content-center text-center">
    <div class="col-md-4 text-center">
      <label for="workoutDropdown1" class="fw-bold">Select at least 1 workout</label>
      <!--by default two dropdowns are always visible and only an extra one appears if needed. -->
      <select class="form-control text-center" id="workoutDropdown1" [(ngModel)]="selectedOption1">
        <option *ngFor="let option of workoutOptions">{{ option }}</option>
      </select>
      <select class="form-control text-center" id="workoutDropdown2" [(ngModel)]="selectedOption2">
        <option *ngFor="let option of workoutOptions">{{ option }}</option>
      </select>

      <div *ngIf="selectedWorkoutLength !== 'short'">
        <select class="form-control text-center" id="workoutDropdown3" [(ngModel)]="selectedOption3">
          <option *ngFor="let option of workoutOptions">{{ option }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<!-- button to generate workout -->
<div class="container mt-5" *ngIf = "!generateButtonClicked">
  <div class="justify-content-center text-center">
    <button class="btn btn-success btn-block" (click)="generateWorkout()">Generate Workout</button>
  </div>
</div>


<!-- Displaying the individual workouts -->
<div class="container mt-3">
  <div class="row justify-content-center">
      <div class = "individual-workout-container row justify-content-center" *ngFor="let muscle of individualMuscleContainer; let i = index">
        <div class="individualWorkoutContainer">
          <div class="row mt-3 text-center">
            <div class="col-sm-12 workout-info-container">
                <label for="workoutName{{ i }}"><strong>Name:</strong></label>
                <br>
                <input class = "form-control text-center" type="text" id="workoutName{{ i }}" [(ngModel)]="muscle[0]" readonly>
              </div>
            </div>

          <div class="row mt-3 text-center">
            <div class="col-sm-4 workout-info-container">
              <label for="workoutSets{{ i }}"><strong>Sets:</strong></label>
              <br>
              <input class = "form-control text-center" type="text" id="workoutSets{{ i }}" [(ngModel)]="muscle[1]" readonly>
            </div>
            <div class="col-sm-4 workout-info-container">
              <label for="workoutReps{{ i }}"><strong>Reps:</strong></label>
              <br>
              <input class = "form-control text-center" type="text" id="workoutReps{{ i }}" [(ngModel)]="muscle[2]" readonly>
            </div>
            <div class="col-sm-4 workout-info-container">
              <label for="workoutRest{{ i }}"><strong>Rest:</strong></label>
              <br>
              <input class = "form-control text-center" type="text" id="workoutRest{{ i }}" [(ngModel)]="muscle[3]" readonly>
            </div>
          </div>

          <div class="row mt-3 text-center">
            <div class="col-sm-4 workout-info-container">
              <label for="workoutTarget{{ i }}"><strong>Weight:</strong></label>
              <br>
              <input class = "form-control text-center" readonly>
            </div>
            <div class="col-sm-8 workout-info-container">
              <label for="workoutTarget{{ i }}"><strong>Target:</strong></label>
              <br>
              <input class = "form-control text-center" type="text" id="workoutTarget{{ i }}" [(ngModel)]="muscle[4]" readonly>
            </div>
          </div>
            
          <div class="row mt-3 text-center">
            <div class="col-sm-12 workout-info-container">
              <label for="workoutLink{{ i }}"><strong>Link:</strong></label>
              <br>
              <a class = "form-control text-center" [href]="muscle[5]" id="workoutLink{{ i }}">Video Link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>