
body{
  background-color: #18191A;
  min-height: 100vh;
  color: white;
}

button{
  width: 25%;
}

a{
  color: white;
  transition-property: none;
}

a:hover{
  color:white;
  text-decoration: none;
}

.marginal{
  margin-top: 2%;
}

p{
  padding-top: 2%;
}

@media (max-width: 808px) {
  .tabs, p{
    font-size: 70%;
  }
}

@media (max-width: 637px) {
  .tabs, p{
    font-size: 40%;
  }
}

@media (max-width: 465px) {
  .tabs, p{
    font-size: 25%;
  }
}