<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitForge • Create Workout</title>
</head>


<app-toolbar></app-toolbar>

<body>
  <div class="justify-content-center text-center">
    <p class="fw-bold">Feel free to leave some days empty, you don't have to go hard every day!</p>
  </div>

  <!-- tabs with date, day, and workout day-->

  <div class="row justify-content-center marginal">
    <div class="tabs">
      <ul class="nav nav-tabs nav-fill">
        <ng-container *ngFor="let day of workoutDays; let i = index">
          <li class="nav-item">
          <ng-container *ngIf="formattedDates[i] as formattedDate">
            <a class="nav-link" id="day{{ i }}" data-bs-toggle="tab" href="#tab{{ i }}">
              Day {{ day }}<br>{{ getDayName(formattedDate) }}<br>{{ formattedDate | date:'MM-dd-yyyy' }}
            </a>
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </div>

    <!-- contains the daily-workout component -->
    <div class="tab-content marginal">
      <div *ngFor="let day of workoutDays; let i = index" class="tab-pane fade" id="tab{{ i }}">
        <ng-container *ngIf="i === 0 && workoutStatusNumber === -1; else workoutCreationBlock">
          <p class="message text-center">{{ workoutStatusMessage }}</p>
        </ng-container>
        <ng-template #workoutCreationBlock>
          <app-daily-workout-creation [initialWorkoutArray]="workoutDaysData[i]"
            (dataUpdated)="updateWorkoutDaysData(i, $event)"
            [workoutData]="workoutDaysData[i]"></app-daily-workout-creation>
        </ng-template>
      </div>
    </div>
    <button class="btn btn-success" (click)="acceptWorkout()">ACCEPT WORKOUT</button>
    <!-- <button class="btn btn-success" (click)="showMe()">SHOW</button> -->
  </div>
  <router-outlet></router-outlet>
</body>

</html>