.main-muscle-group-container {
    /* Add your styles for the container here */
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 75%;
  }

  .individual-workout-container {
    /* Add your styles for the container here */
    background-color: red;
    padding: 10px;
    margin: 10px;
    width: 75%;
  }