
body{
  background-color: #18191A;
  min-height: 100vh;
}

a{
  color: white;
  transition-property: none;
}

.tc{
  color: white;
}

a:hover{
  color:white;
  text-decoration: none;
  }

.btn-edit{
    margin-top: 10px;
    max-width: 15%;
    justify-content: right;
    align-items: right;
  }

.marg{
  /* margin-top: 2.5%; */
  padding-top: 15px;
}

.btn-accept-workout{
  margin-bottom: 10%;
}